.BGDARK2{
    background-color: #16191d;
}
.TEXTR{
    text-align: right;

}
    
.SMTEXT{
    font-size: 13px;
}
.PTEXT{
    font-size: 18px;
}
    
.H1TEXT{
    font-size: 40px;
}
    
    .H2TEXT{
        font-size: 30px;
    }
        
.BG2{
    background-image: url(/portifolio/assets/6899259-dark-background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.BOXIMG{
    max-width: 300px;
}
    

    .ICONIMG{
        max-width: 150px;
    }
       
.BOXSKILS{
    width: 376px;
}
    
.PROG{
    width: 250px;
}
@media screen and (max-width: 575px) {
    .PTEXT{
    text-align: left;
    font-size: 10px;
    }
    .H1TEXT{
        font-size: 20px;
    }
    .H2TEXT{
        font-size: 15px;
    }
    .BOXIMG{
        max-width: 100px;
    }
    .ICONIMG{
        max-width: 50px;
    }
    .BOXSKILS{
        width: 157px;
    }
    .PROG{
        width: 180px;
    }
}
    